.user-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 345px;
  padding: 5px;
  background: $user-card_background;
  border-radius: 8px;
  box-shadow: 2px 2px 4px hsla(0, 0%, 0%, 0.5);
  cursor: pointer;

  &__avatar {
    width: 50px;
    height: 50px;
    border: 2px solid $avatar_border-color_online;
    border-radius: 50%;
    user-select: none;
  }

  &__user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 220px;
    height: 50px;
    gap: 2px;

    &_title {
      font-size: $font-size_text;
    }

    &_last-message {
      font-size: $font-size_description;
      color: $last-message_color;
    }
  }

  &__overall-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 50px;
    gap: 5px;
    user-select: none;

    &_time {
      display: flex;
      align-items: center;
      height: 20px;
      padding: 2px;
      font-size: $font-size_description;
      background: $overall-info_background;
      border-radius: 10px;
    }

    &_messages-number {
      padding: 2px;
      font-size: $font-size_description;
      background: $overall-info_background;
      border-radius: 10px;
    }
  }
}
