<div class="user-card">
	<img class="user-card__avatar" src="../asserts/images/avatars/Lidia.png" alt="avatar">

	<div class="user-card__user-info">
		<div class="user-card__user-info_title">
			Лидия Дмитриева
		</div>
		<div class="user-card__user-info_last-message">
			< Мы тебя дождёмся в любом случае))) И другой текст для ...
		</div>
	</div>

	<div class="user-card__overall-info">
		<div class="user-card__overall-info_time">
			31 февр.
		</div>
		<div class="user-card__overall-info_messages-number">
			+9999	
		</div>
	</div>
</div>