.message-box {
  display: flex;
  flex-direction: column;
  gap: 0.2vh;
  overflow: auto;
  overflow-wrap: break-word;

  &__time,
  &__message_type_taken,
  &__message_type_sended,
  &__emoji {
    padding: 3px;
  }

  &__time {
    width: fit-content;
    font-size: $description_font-size;
    border-radius: 8px 8px 0 0;
    box-shadow: $drop_box-shadow;
  }

  &__message_type_taken,
  &__message_type_sended {
    max-width: 650px;
    width: fit-content;
    font-size: $message_font-size;
    box-shadow: $drop_box-shadow;
  }

  &__message_type_taken {
    color: $chat-message-taken_color;
    background: $chat-message-taken_background;
    border-radius: 0 8px 8px 0;
  }

  &__message_type_sended {
    color: $chat-message-sended_color;
    background: $chat-message-sended_background;
    border-radius: 8px 0 0 8px;
  }

  &__emoji {
    width: fit-content;
    border-radius: 0 0 8px 8px;
    box-shadow: $drop_box-shadow;
  }
}
