<div class="user-card">
	<div class="user-card__avatar">
		<img src="../asserts/images/avatars/Lidia.png" alt="avatar">
	</div>

	<div class="user-card__user-info">
		<div class="user-card__user-info_title">
			Лидия Дмитриева
		</div>
		<div class="user-card__user-info_last-message">
			< Мы тебя дождёмся в любом случае)))
		</div>
	</div>

	<div class="user-card__overall-info">
		<div class="user-card__overall-info_time">
			12:10
		</div>
		<div class="user-card__overall-info_messages-number">
			1
		</div>
	</div>
</div>