.avatar {
  display: inline-block;
  overflow: hidden;
  width: 70px;
  height: 70px;
  user-select: none;
  border: 2px solid transparent;
  border-radius: 50%;
  cursor: pointer;
}

.avatar img {
  width: 100%;
}
