<div class="post-board">
  <button class="post-board__button_attach button"></button>
  <button class="post-board__button_emoji button"></button>
  <button class="post-board__button_send button"></button>
  <input class="post-board__input input" />
</div>