/* Переменные */
@import "./variables.css";

/* Пользовательский интерфейс */
@import "./ui.css";

/* Страницы */
@import "../pages/main.css";

/* Компоненты */
@import "../partials/chat-box/chat-box.css";
@import "../partials/message-box/message-box.css";
@import "../partials/post-board/post-board.css";
@import "../partials/selected-chats/selected-chats.css";
@import "../partials/user-card/user-card.css";
@import "../partials/users-board/users-board.css";

/* Шрифт ParaType (http://www.paratype.com)*/
@font-face {
  font-family: "GolosTextWebRegular";
  src: url("../fonts/Golos-Text_Regular.woff2") format("woff2"),
    url("../fonts/Golos-Text_Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "GolosTextWebRegular";
  overflow: hidden;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 0.4vh;
  background: $initial_background;
  user-select: none;

  &__name {
    font-size: 2.58vw;
    font-weight: bold;
  }

  &__description,
  &__link {
    font-size: 2.04vw;
    text-align: center;
  }

  &__link {
    text-decoration: none;
    color: blue;
  }
}
