/* .line {
  height: 10px;
  color: blue;
  box-shadow: inset 0 2px 4px $line_color;
  mix-blend-mode: multiply;
  border-radius: 8px;
} */

.input {
  height: 50px;
  font-family: "GolosTextWebRegular";
  font-size: $text_font-size;
  border: none;
  border-radius: 3px;
  background: $input_background;
  box-shadow: $inner_box-shadow;
  outline: none;
}

.online {
  background: $online_background;
}

.offline {
  background: $offline_background;
}

.flex-align_right {
  align-items: flex-end;
}

.taken {
  color: $chat-message-taken_color;
  background: $chat-message-taken_background;
}

.sended {
  color: $chat-message-sended_color;
  background: $chat-message-sended_background;
}
