.line {
  height: 3px;
  color: blue;
  box-shadow: inset 0 1px 2px $line_color;
  mix-blend-mode: multiply;
  border-radius: 8px;
}

.online {
  background: $online_background;
}

.offline {
  background: $offline_background;
}

.input {
  height: 30px;
  font-family: "GolosTextWebRegular";
  font-size: $text_font-size;
  border: none;
  border-radius: 3px;
  background: $input_background;
  box-shadow: $inner_box-shadow;
  outline: none;
}
