.button {
  width: 50px;
  height: 50px;
  background-color: transparent;
  background-size: cover;
  border: none;
  cursor: pointer;
}

.input {
  height: 50px;
  padding: 10px;
  font-family: "GolosTextWebRegular";
  font-size: $text_font-size;
  border: none;
  border-radius: 12px;
  background: $input_background;
  box-shadow: $inner_box-shadow;
  outline: none;
}

.online {
  background: $online_background;
}

.offline {
  background: $offline_background;
}

.flex-align_right {
  align-items: flex-end;
}

.taken {
  color: $chat-message-taken_color;
  background: $chat-message-taken_background;
  box-shadow: $chat-message-taken_box-shadow;
}

.sended {
  color: $chat-message-sended_color;
  background: $chat-message-sended_background;
  box-shadow: $chat-message-sended_box-shadow;
  margin-right: 3px;
}
