/* Шрифты */
$title_font-size: 27px;
$message_font-size: 21px;
$text_font-size: 17px;
$description_font-size: 11px;

/* Примитивы */
$line_color: hsla(0, 0%, 0%, 0.6);
$input_background: hsla(120, 40%, 80%, 1);
$inner_box-shadow: inset 3px 3px 5px hsla(0, 0%, 0%, 0.55);
$drop_box-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.55);

/* Чат */
$chat_background: hsl(120, 25%, 65%);

/* Пользовательская карточка */
$last-message_color: hsla(0, 0%, 25%, 1);
$online_background: hsla(120, 70%, 45%, 1);
$offline_background: hsla(360, 70%, 45%, 1);
$user-card_background: hsla(150, 30%, 70%, 1);
$overall-info_background: hsla(110, 50%, 75%, 1);
