/* Шрифты */
$font-size_title: 27px;
$font-size_message: 21px;
$font-size_text: 17px;
$font-size_description: 11px;

/* Чат */
$chat_background: hsl(120, 25%, 65%);

/* Пользовательский интерфейс */
$line_color: hsla(0, 0%, 0%, 0.6);
$online_color: hsla(120, 70%, 45%, 1);
$offline_color: hsla(360, 70%, 45%, 1);

/* Пользовательская карточка */
$last-message_color: hsla(0, 0%, 25%, 1);
$user-card_background: hsla(150, 30%, 70%, 1);
$overall-info_background: hsla(110, 50%, 75%, 1);
