<div class="main">
  {{{Link
    href="sign-in"
    class="main__link button-link"
    text="Перейти к авторизации"
    onClick=goToSignInPage
  }}}
  {{{Link
    href="error"
    class="main__link button-link"
    text="Ошибка 404"
    onClick=goToErrorPage404
  }}}
  {{{Link
    href="error/505"
    class="main__link button-link"
    text="Ошибка 505"
    onClick=goToErrorPage500
  }}}
</div>
