.selected-chats {
  display: flex;
  flex-direction: row;

  &__avatar {
    width: 70px;
    height: 70px;
    border: 2px solid transparent;
    border-radius: 50%;
    user-select: none;
    cursor: pointer;

    &:active {
      transform: scale(0.97);
    }
  }

  img + &__avatar {
    margin-left: -30px;
  }
}
