{{!-- {{!< desktop }} --}}

<div class="change-password">
  <button name="avatar" class="change-password__avatar"></button>

  <form
    name="form4"
    action="./main.hbs"
    method="get"
    class="change-password__form"
  >
    <div class="change-password__input_wrapper">
      <label for="login" class="change-password__description">Старый пароль</label>
      <input
        name="oldPassword"
        type="password"
        class="change-password__input input"
      />
    </div>

    <div class="change-password__input_wrapper">
      <label for="first_name" class="change-password__description">Новый пароль</label>
      <input
        name="newPassword"
        type="password"
        class="change-password__input input"
      />
    </div>

    <div
      class="change-password__input_wrapper change-password__input_wrapper_last"
    >
      <label for="second_name" class="change-password__description">
        Новый пароль (повторно)
      </label>
      <input
        name="newPassword_again"
        type="password"
        class="change-password__input input"
      />
    </div>

    <button class="change-password__button">Сохранить</button>
  </form>

  <button class="change-password__button change-password__button_margin_top">
    Отмена
  </button>
</div>