.main {
  display: flex;
  jystify-content: space-between;
  /* jystify-content: center; */
  width: 100vw;
  height: 100vh;
  background: $chat_background;
  background-size: cover;

  &__line_vertical {
    width: 3px;
    height: 100%;
    margin: 10px 0 10px 0;
    /* box-shadow: inset 5px 0px 4px $line_color; */
    border-radius: 8px;
    background: $line_background;
  }

  &__chat-wrapper {
    margin-left: 10px;
    /* border: 3px solid green; */
    width: 100%;
  }

  &__selected-chats {
    margin-top: 10px;
  }

  &__line_horizontal_1,
  &__line_horizontal_2 {
    height: 2px;
    width: 100%;
    margin-top: 10px;
    /* box-shadow: inset 0px 5px 4px $line_color; */
    border-radius: 8px;
    background: $line_background;
  }

  &__line_horizontal_1 {
    top: 80px;
  }

  &__line_horizontal_2 {
    top: 670px;
  }

  &__chat-box {
    margin-right: 10px;
    /* position: absolute; */
    /* position: sticky; */
    /* display: flex; */
    /* top: 96px; */
    /* left: 387px; */
    /* width: 65%; */
    /* top: 0;
    bottom: 0;
    overflow: auto; */
  }
}
