{{!< desktop }}

<main class="main">
	{{!-- index.hbs тест, а ниже частичка: --}}
	{{posts.name}}
		<ul class="new-list">
			{{#each posts}}
				<li>
					{{this}}
				</li>
			{{/each}}
		</ul>

	{{> "user-card/user-card" posts }}
	{{> users-board/users-board }}
</main>
