{{!< desktop }}

<main class="main">
	{{> users-board/users-board }}

	<div class="main__line_vertical"></div>

	<div class="main__selected-chats"> {{> selected-chats/selected-chats }} </div>
	{{!-- <div class="main__line_horizontal_1 line"></div> --}}
	<div class="main__chat-box chat-box">
		{{> chat-box/chat-box users.[0001] }}
	</div>

	{{!-- <div class="main__line_horizontal_2 line"></div> --}}
</main>
