.main {
  display: flex;
  jystify-content: space-between;
  width: 100vw;
  height: 100vh;
  background: $chat_background;
  background-size: cover;

  &__chat-wrapper {
    margin-left: 10px;
    width: 100%;
  }

  &__selected-chats {
    margin-top: 10px;
  }

  &__line_horizontal_1,
  &__line_horizontal_2 {
    height: 2px;
    width: 100%;
    margin-top: 10px;
    border-radius: 8px;
    background: $line_background;
  }

  &__chat-box {
    margin-right: 5px;
    height: 765px;
  }

  &__post-board {
    margin: 10px 10px 0 0;
  }
}
