{{!< desktop }}

<main class="main">
	{{!-- index.hbs тест, а ниже частичка:
		<ul class="new-list">
			{{#each posts}}
				<li>
					{{this}}
				</li>
			{{/each}}
		</ul> --}}

	{{> "ui/user-card/user-card"}}	
</main>
