.main {
  width: 100vw;
  height: 100vh;
  background: $chat_background;
  /* background: url("../assets/images/5.png"); */
  background-size: cover;

  &__line_vertical {
    position: absolute;
    top: 0;
    left: 366.5px;
    width: 10px;
    height: 98vh;
    margin: 1vh 0 1vh 0;
    /* width: 100vh; */
    /* margin: 0.3vh 0 0 0; */
    /* transform-origin: left center; */
    /* transform: rotate(270deg); */
    box-shadow: inset 5px 0px 4px hsl(0, 0%, 0%, 0.7);
    /* mix-blend-mode: multiply; */
    border-radius: 8px;
    background: hsl(33, 42%, 12%);
  }

  &__selected-chats {
    position: absolute;
    top: 10px;
    left: 377px;
  }

  &__line_horizontal_1,
  &__line_horizontal_2 {
    position: absolute;
    left: 377px;
    width: 890px;
  }

  &__line_horizontal_1 {
    top: 80px;
  }

  &__line_horizontal_2 {
    top: 670px;
  }

  &__chat-box {
    position: absolute;
    top: 96px;
    left: 377px;
    width: 867px;
    height: 556px;
    /* border: 1px solid red; */
  }
}
