{{!< desktop }}

<main class="main">
	{{> users-board/users-board }}

	<div class="main__chat-wrapper">
		<div class="main__selected-chats"> {{> selected-chats/selected-chats }} </div>
		<div class="main__chat-box">
			<div class="chat-box">
				{{> chat-box/chat-box users.[0001] }}
			</div>
		</div>

		<div class="main__post-board">
			{{> post-board/post-board }}
		</div>
	</div>
</main>
