.sign-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 10px;
  background: $initial_background;
  user-select: none;

  &__title,
  &__button_sign-in,
  &__button_sign-up {
    width: 400px;
  }

  &__title {
    font-size: $title_font-size;
    text-align: center;
    color: $input_color;
  }

  &__warning {
    margin-top: -10px;
    font-size: $description_font-size;
    color: hsl(0, 70%, 50%);
  }

  &__wrapper_in {
    display: flex;
    padding-top: 10px;
    border-top: 2px solid $line_color;
  }

  &__wrapper_up {
    display: flex;
    padding-bottom: 10px;
    border-bottom: 2px solid $line_color;
  }

  &__icon_sign-in {
    background-image: url("../assets/images/icons/user.svg");
  }

  &__icon_sign-up {
    background-image: url("../assets/images/icons/lock.svg");
  }

  &__input_in,
  &__input_up {
    width: 350px;
  }

  &__input_in {
    margin-bottom: 10px;
  }

  &__button_sign-in,
  &__button_sign-up {
    height: 50px;
    font-family: "GolosTextWebRegular";
    font-size: $text_font-size;
    color: $input_color;
    background: $scrollbar-thumb_background;
    box-shadow: $box-shadow-1, $box-shadow-2, $box-shadow-3;
    border-radius: 12px;
    border-style: none;
    cursor: pointer;
  }

  &__button_sign-in:active,
  &__button_sign-up:active {
    transform: scale(0.98);
    box-shadow: $box-shadow-4, $box-shadow-5, $box-shadow-6;
  }

  &__button_sign-in:focus,
  &__button_sign-up:focus {
    outline: 1px solid red;
  }
}
