{{!< desktop }}

<div class="sign-in">
  <div class="sign-in__title">Вход</div>
  <input class="sign-in__input input" name="login" type="text" />
  <input class="sign-in__input input" name="password" type="password" />
	<button class="sign-in__button">Войти</button>
	<button class="sign-in__button">Зарегистрироваться</button>
</div>