{{!< desktop }}

<div class="sign-in">
  <div class="sign-in__title">Вход</div>
  <div class="sign-in__warning">неверный логин или пароль</div>

  <form name="form1" action="./main.hbs" method="get" class="sign-in__form">
    <div class="sign-in__wrapper_user">
      <label for="login" class="sign-in__icon_user svg"></label>
      <input name="login" type="text" class="sign-in__input_user input" />
    </div>

    <div class="sign-in__wrapper_lock">
      <label for="password" class="sign-in__icon_lock svg"></label>
      <input
        name="password"
        type="password"
        class="sign-in__input_lock input"
      />
    </div>
  </form>

  <input
    type="submit"
    form="form1"
    value="Войти"
    class="sign-in__button_sign-in"
  />
  {{! <button type="submit" class="sign-in__button_in">Войти</button> }}
  <button class="sign-in__button_sign-up">Зарегистрироваться</button>
</div>