.sign-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 0.4vh;
  background: $initial_background;
  user-select: none;

  &__title {
    font-size: $title_font-size;
    border-bottom: 2px solid $line_color;
  }

  &__input {
		background-color: hsl(303, 90%, 40%);
  }

  &__button {
    font-size: text_font-size;
  }
}
