{{!< desktop }}

<div class="sign-in">
  <div class="sign-in__title">Вход</div>
  <div>
    <button class="sign-in__image_login svg"></button>
    <input class="sign-in__input input" name="login" type="text" />
  </div>
  <input class="sign-in__input input" name="password" type="password" />
  <button class="sign-in__button_sign-in">Войти</button>
  <button class="sign-in__button_sign-up">Зарегистрироваться</button>
</div>