.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 10px;
  background: $initial_background;
  user-select: none;

  &__title,
  &__button_sign-up,
  &__button_sign-up,
  &__input_wrapper {
    width: 400px;
  }

  &__title {
    font-size: $title_font-size;
    text-align: center;
    color: $input_color;
  }

  &__warning {
    /* -top: -20px; */
    font-size: $description_font-size;
    color: hsl(0, 70%, 50%);
  }

  &__form {
    display: flex;
    flex-direction: column;
    /* jystify-content: space-around; */
    padding: 3px 0 10px 0;
    gap: 5px;
    border-top: 2px solid $line_color;
    border-bottom: 2px solid $line_color;
  }

  &__input_wrapper {
    display: flex;
    flex-direction: column;
    /* padding-top: 5px; */
  }

  &__description {
    color: $input_color;
    font-size: $description_font-size;
    margin: 0 0 5px 8px;
  }

  &__button_sign-up,
  &__button_sign-up {
    height: 50px;
    font-family: "GolosTextWebRegular";
    font-size: $text_font-size;
    color: $input_color;
    background: $scrollbar-thumb_background;
    box-shadow: $box-shadow-1, $box-shadow-2, $box-shadow-3;
    border-radius: 12px;
    border-style: none;
    cursor: pointer;
  }

  &__button_sign-up:active,
  &__button_sign-up:active {
    transform: scale(0.98);
    box-shadow: $box-shadow-4, $box-shadow-5, $box-shadow-6;
  }

  &__button_sign-up:focus,
  &__button_sign-up:focus {
    outline: 1px solid red;
    outline-style: solid;
  }
}
