@import "../../../styles/variables.css";

.input {
  height: 50px;
  padding: 0 15px;
  /* stylelint-disable-next-line */
  font-family: GolosTextWebRegular;
  font-size: $text_font-size;
  color: $input_color;
  background: $input_background;
  border-style: none;
  border-radius: 12px;
  box-shadow: $input_box-shadow;

  &::selection {
    background: hsl(303deg 50% 70%);
    color: hsl(303deg 10% 15%);
  }

  &:focus {
    outline: 1px solid hsl(303deg 80% 40%);
  }

  &__warning {
    border: 2px solid red;
  }
}
