<div class="users-board">
	{{> "user-card/user-card" owner }}

	<div class="users-board__control">
		<button class="users-board__control_button_change button"></button>
		<input class="users-board__control_input input"/>
	</div>

	<div class="users-board__list scrollbar">
		{{#each users}}
			{{> "user-card/user-card" this }}
		{{/each}}
	</div>
</div>
