.users-board {
  padding: 10px 10px 0 10px;
  color: $regular-text_color;
  user-select: none;
  gap: 10px;

  &__control {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 484px;
    margin: 12px 0 10px 0;
    font-size: $text_font-size;
    color: $last-message_color;
    border-top: 2px solid $line_color;
    border-bottom: 2px solid $line_color;

    &_filter {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &_drop-down {
      background-image: url("../assets/images/icons/arrow-down.svg");
    }

    &_add-user {
      background-image: url("../assets/images/icons/user-plus.svg");
    }
  }

  &__input {
    height: 50px;
    width: 484px;
    margin-bottom: 10px;
  }

  &__list {
    display: flex;
    jystify-content: space-around;
    flex-direction: column;
    position: fixed;
    top: 218px;
    bottom: 10px;
    padding: 4px 0 4px 0;
    gap: 10px;
    overflow: auto;
  }
}
