.users-board {
  display: flex;
  flex-direction: column;

  width: 365px;
  height: 720px;
  padding: 10px;
  background: $chat_background;
  gap: 10px;

  &__control {
    display: flex;
    justify-content: space-between;
    height: 30px;

    &_filter {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &_drop-down,
    &_add-user {
      width: 30px;
      height: 30px;
      background-color: transparent;
      background-size: cover;
      border: none;

      &:active {
        transform: scale(0.9);
      }
    }

    &_drop-down {
      background-image: url("../assets/images/icons/arrow-down.svg");
    }

    &_add-user {
      background-image: url("../assets/images/icons/plus.svg");
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
